body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading_style{
  font-family: 'Josefin Sans',sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myDiv{
  margin-left: 10px;
}
.center_div{
  background-color: blueviolet;
  color: white;
}
button:hover{
  background-color: springgreen;
}
.newBtn{
  border-radius: 50%;
}
.deleteIcon{
  color: crimson;
}